*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background-color: rgb(21, 63, 171);
    display: flex;
    justify-content: center;
    align-items:center;
}

.counter-container{
    width: 300px;
    height: 200px;
    /* border:2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter-container .fa-solid{
    font-size:50px;
    color:rgb(211, 215, 224);
}

.counter-container span{
    font-size:20px;
    color:rgb(211, 215, 224);
    /* padding:20px; */
}

.counter {
    font-size:60px;
    color:rgb(150, 131, 32);
    padding-top: 20px;
}


/* Media query section start  */

@media(max-width:700px){
    .counter-container .fa-solid{
        font-size:40px;
        color:rgb(211, 215, 224);
    }
    .counter-container span{
        font-size:15px;
        color:rgb(211, 215, 224);
        /* padding:20px; */
    }
    
    .counter {
        font-size:30px;
        color:rgb(150, 131, 32);
        padding-top: 20px;
    }

}



@media(max-width:450px){
    body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
    }
    .counter-container{
        width: 200px;
        height: 150px;
        /* border:2px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}